$fletes: (
  f4b-fuente-principal: $font-1,

  f4b-bg-header: $col-3,

  //   Boton perfil card
  f4b-btn-perfil: $col-2,
  f4b-btn-wpp: $col-1,
  f4b-nombre: $col-1,
  f4b-btn-fav: $col-4,

  //     zonas
  f4b-bg-zonas: $col-1,
  f4b-bg-zonas2: $col-2,

  f4b-bg-footer: $col-2,
);
